<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Alexandre Henriet"/>
        <meta name="description" content="Communauté Francophone d'Utilisateurs de Ruby"/>
        <meta name="keywords" content="Ruby Documentation Francophone Communauté IRC"/>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
        <script src="{{ SITEURL }}/theme/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title" title="Communauté Francophone d'Utilisateurs de Ruby"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                {% block menu %}{% endblock %}
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                 <h1>{% block content_title %}{% endblock %}</h1>
                 {% block content %}{% endblock %}
                 <p><a id="backtop" href="#">Vers le haut de la page</a></p>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>
                    <a id="licence" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr"><img src="{{ SITEURL }}/theme/img/cc-by-sa.png" alt="cc-by-sa" /></a>
                    <strong><a title="Contact" href="mailto:alex.henriet@cofur.be">CoFUR 2012-2013</a></strong>. Le contenu de ce site généré avec <a href="http://docs.getpelican.com/" title="Vers le site de Pelican">Pelican</a> est hébergé sur <a href="#" title="Vers le dépôt Github du site">Github</a>, n'hésitez-pas à contribuer.</p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        <script src="{{ SITEURL }}/theme/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-15076021-6'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
