<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ AUTHOR }}"/>
        <meta name="description" content="Communauté Francophone d'Utilisateurs de Ruby"/>
        <meta name="keywords" content="Ruby Documentation Francophone Communauté IRC"/>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
    </head>
    <body>

      {% block menu %}{% endblock %}

      <div class="container">
         <h1>{% block content_title %}{% endblock %}</h1>
         {% block content %}{% endblock %}
         <footer class="wrapper">
             <p><a id="licence" href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr"><img src="{{ SITEURL }}/theme/img/cc-by-sa.png" alt="cc-by-sa" /></a><strong><a title="Contact" href="mailto:alex.henriet@cofur.be">CoFUR 2012-2018</a></strong>. Le contenu de ce site généré avec <a href="http://docs.getpelican.com/" title="Vers le site de Pelican">Pelican</a> est hébergé sur <a href="https://github.com/setsuna-/CoFUR" title="Vers le dépôt Github du site">Github</a>, n'hésitez-pas à contribuer.</p>
         </footer>
      </div>
    </body>
</html>
