<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{% if current_page == 'Ruby' %}active{% endif %}"><a href="{{ SITEURL }}/pages/ruby.html">Ruby</a></li>
        <li class="{% if current_page == 'Doc' %}active{% endif %}"><a href="{{ SITEURL }}/pages/documentation.html">Doc</a></li>
        <li class="{% if current_page == 'Livres' %}active{% endif %}"><a href="{{ SITEURL }}/pages/livres.html">Livres</a></li>
        <li class="{% if current_page == 'Gems' %}active{% endif %}"><a href="{{ SITEURL }}/pages/ruby-gems.html">Gems</a></li>
        <li class="{% if current_page == 'Belgique' %}active{% endif %}"><a href="{{ SITEURL }}/pages/ruby-en-belgique.html">Belgique</a></li>
        <li class="{% if current_page == 'Liens' %}active{% endif %}"><a href="{{ SITEURL }}/pages/liens-externes.html">Liens</a></li>
      </ul>
    </div>
  </div>
</nav>
